.body {
    background-color: black;
}

.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
}

/* start header */
.page__header {
    max-width: 880px;
    margin: 0 auto;
}

.header__logo {
    margin: 45px 0 41px;
    width: 142px;
    height: 33px;
}

.header__border {
    margin: 0;
    max-width: 880px;
    color: rgba(84, 84, 84, 1);
    opacity: 0.7;
    border-style: solid;
}

/* end header */
.content {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.content__section {
    margin: 36px auto 47px;
}

/* star profile */
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__container-info {
    max-width: 330px;
    margin-left: 30px;
    margin-right: auto;
    position: relative;
}

.profile__button-edit {
    width: 24px;
    height: 24px;
    position: absolute;
    right: -45px;
    top: 15px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 2px;
}

.profile__button-edit:hover {
    transition: opacity ease-in-out 0.4s;
    opacity: 0.6;
}

.profile__button-add {
    width: 150px;
    height: 50px;
    background-color: black;
    color: #FFFFFF;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
}

.profile__button-add:hover {
    transition: opacity ease-in-out 0.4s;
    opacity: 0.6;
}

.profile__name {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0 0 16px;
}

.profile__subtitle {
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0;
}

/* end profile */

/* start popup */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    box-sizing: border-box;
}

.popup__close {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-weight: bold;
    transform: rotate(-90deg);
    top: -32px;
    right: -28px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
}

.popup__close:hover {
    transition: opacity ease-in-out 0.4s;
    opacity: 0.8;
}

.popup__form {
    width: 84%;
    margin: 0 auto;
    padding: 0;
}

.popup__container {
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    position: fixed;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    text-align: center;
}

.popup__title {
    color: #000000;
    font-size: 24px;
    line-height: 1.2;
    margin: 34px 0 44px;
    font-weight: 900;
    text-align: left;
}

.popup__input-text {
    border: none;
    border-bottom: 1px solid #CCC;
    color: #000000;
    margin: 0 0 30px;
    padding: 5px 0 13px;
    width: 358px;
    outline: none;
    font-size: 14px;
    line-height: 1.2;
    box-sizing: border-box;
}

.popup__input-text:last-of-type {
    margin-bottom: 0;
}

.popup__input-text:focus {
    border: rgba(85, 85, 245, 0.767) 3px solid;
}

.popup__button {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.2;
    width: 358px;
    height: 50px;
    text-align: center;
    background: #000000;
    border-radius: 2px;
    border: none;
    margin: 48px 0 0;
    box-sizing: border-box;
    cursor: pointer;
}

.popup__button:hover {
    transition: opacity ease-in-out 0.4s;
    opacity: 0.8;
}

/* end popup */

/* start pictures */
.pictures {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 20px 17px;

}

.cards {
    max-width: 282px;
    height: 362px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 11px;
    position: relative;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cards__image {
    border-radius: 11px 11px 0 0;
    height: 282px;
    width: 100%;
    object-fit: cover;
}

.cards__subtitle {
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin: 25px 0 0 21px;
}

.cards__heart {
    border: none;
    background: url(https://code.s3.yandex.net/web-code/dom/heart.svg) center no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 23px;
    right: 22px;
    font-size: 29px;
    margin: 0 auto;
    outline: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
}

.cards__heart:hover {
    transition: opacity ease-in-out 0.4s;
    opacity: 0.6;
}

.cards__heart:active {
    opacity: 1;
    background: url(https://code.s3.yandex.net/web-code/dom/heart-filled.svg) center no-repeat;
}

.page__footer {
    max-width: 880px;
    margin: 98px auto 60px;
}

.footer__copyright {
    color: rgba(84, 84, 84, 1);
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}

@media all and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }

    .pictures {
        grid-template-columns: repeat(2, 282px);
    }

    .page__header {
        max-width: 100%;
    }

    .page__footer {
        max-width: 80%;
    }

    .content {
        max-width: 90%;
    }
}

@media all and (max-width: 600px) {

    .pictures {
        grid-template-columns: repeat(1, 282px);
    }

}

@media all and (max-width: 682px) {
    .content {
        max-width: 100%;
    }

    .profile {
        flex-direction: column;
        justify-content: center;
        margin: 38px 0 36px;
    }

    .profile__container-info {
        margin: 22px 0 36px;
    }

    .profile__name {
        font-size: 24px;
        margin-top: 22px;
        margin-bottom: 14px;
    }

    .profile__subtitle {
        font-size: 14px;
    }

    .profile__button-add {
        width: 282px;
    }

    .page__footer {
        margin: 48px auto 36px;
    }
}