.cards__heart {
    border: none;
    background: url(https://code.s3.yandex.net/web-code/dom/heart.svg) center no-repeat;
    background-size: 100%;
    font-size: 29px;
    outline: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
}

.cards__heart:hover {
    transition: opacity ease-in-out 0.4s;
    opacity: 0.6;
}

.cards__heart_active {
    opacity: 1;
    background: url(https://code.s3.yandex.net/web-code/dom/heart-filled.svg) center no-repeat;
}